
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 24px;
    background-color: #0f0d0c;
    color: #e7ded7;
    font-family: "Outfit", sans-serif;
    position: relative;
}


/* =========================
   HEADERS
========================= */

h1 {
    font-family: "Cinzel", serif;
    font-size: 42px;
    text-align: center;
    margin: 20px 0 5px;
    color: #d8b4a0;
}

h2 {
    font-family: "Cinzel", serif;
    font-size: 14px;
    text-align: center;
    margin: 0 0 30px;
    color: #c9a8a0;
    font-style: italic;
}

/* =========================
   FORM LAYOUT 
========================= */


main {
    max-width: 900px;
    margin: 0 auto;
}


form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
}


form label {
    font-family: "Cinzel", serif;
    font-size: 14px;
    color: #e7ded7;
}

/* inputs */
input[type="text"] {
    width: 100%;
    padding: 10px;
    background: #171211;
    border: 1px solid #3a2c26;
    color: #e7ded7;
}

input[type="text"]:focus {
    border-color: #b32626;
    outline: none;
    box-shadow: 0 0 8px rgba(179, 38, 38, 0.4);
}

/* submit button */
input[type="submit"] {
    margin-top: 10px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #b32626;
    background: #3a1414;
    color: #f3e7dd;
    font-family: "Cinzel", serif;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #b32626;
    color: #120d0c;
}

/* =========================
   STORY OVERLAY 
========================= */

#madlib-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: #0f0d0c;
    padding: 30px 20px;
    overflow-y: auto;
    z-index: 999;
}

#madlib-overlay p {
    max-width: 750px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.9;
    color: #e7ded7;
}

span {
    background: rgba(179, 38, 38, 0.18);
    color: #f3e7dd;
    padding: 2px 6px;
    border-radius: 4px;

    box-shadow: 0 0 10px rgba(179, 38, 38, 0.25);
    border: 1px solid rgba(179, 38, 38, 0.25);

    transition: all 0.3s ease;
}

/*animation hehe*/
span {
    animation: inkReveal 2s ease forwards;
}

@keyframes inkReveal {
    from {
        opacity: 0;
        transform: translateY(4px);
        filter: blur(2px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

/* close */
#close {
    display: inline-block;
    margin-top: 20px;
    color: #ff6b6b;
    border: 1px solid #b32626;
    padding: 10px 14px;
    background: transparent;
}

#close:hover {
    background: #b32626;
    color: #120d0c;
}


/* =========================
   DESKTOP
========================= */

@media (min-width: 1000px) {

    body {
        padding: 40px;
    }

   
    main {
        background-color: rgba(20, 16, 14, 0.95);
        width: 600px;
        margin: auto;
        padding: 40px;

        border: 1px solid #4a1a1a;
        box-shadow: 0 0 40px rgba(139, 30, 30, 0.15);
    }

    h1 {
        font-size: 64px;
    }
}